server:
  port: 8888

spring:
  application:
    name: springcicddemo1

  docker:
    compose:
      skip:
        in-tests: false
  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.hibernate: info
